server:
  port: 8222

spring:
  application:
    name: api-gateway

  cloud:
    config:
      enabled: false

    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: customer-service
          uri: lb://customer-service
          predicates:
            - Path=/customers/**
          filters:
            - RewritePath=/customers(?<segment>/?.*), /api/v1/customers${segment}

eureka:
  client:
    service-url:
      defaultZone: https://discovery-server-196g.onrender.com/eureka
