server:
  port: 8222

spring:
  application:
    name: gateway-service

  cloud:
    config:
      enabled: false

    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: customer-service
          uri: lb://customer-service
          predicates:
            - Path=/customers/**
          filters:
            - RewritePath=/customers(?<segment>/?.*), /api/v1/customers${segment}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
