server:
  port: 8761

spring:
  application:
    name: discovery-service
  cloud:
    config:
      enabled: false   # ⬅️ IMPORTANT (Config Server OFF)

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
